
.aboutSection {
    padding-bottom: 0;
    margin-bottom: 40px;
}

.aboutContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1248px;
    padding: 10px 45px;
} 

.textSection {
    max-width: 506px;
    direction: ltr;
    margin: 20px 24px 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    align-self: center;
    justify-self: center;
}

.subHeading {
    color: #69df41;
    font-family: Montserrat, sans-serif;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    font-weight: 700;
}

.heading {
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 54px;
    line-height: 1;
    color: #000;
}

.description {
    max-width: 400px;
    color: #000;
    margin-bottom: 40px;
    padding-left: 0;
    font-family: Questrial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.imageSection {
    width: 100%;
    max-width: 506px;
    direction: ltr;
    margin-top: 0px;
    padding-left: 60px;
}

.imageContainer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    position: relative;

}

.image {
    max-width: 294px;
    height: auto;
    transition: transform .2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    display: inline-block;
    border: 10px solid #fff;
}

.imageContainer > :first-child {
    z-index: 1;
    margin-left: -70px;
}

.imageContainer > :nth-child(2) {
    z-index: 3;
    margin-top: -110px;
    margin-left: 150px;
    transform: rotate(-2deg);
}

.imageContainer > :nth-child(3) {
    margin-top: -235px;
    margin-left: -25px;
    transform: rotate(2deg);
    z-index: 2;
}

@media screen and (max-width: 991px) {
    .aboutContainer {
        flex-direction: column;
        justify-content: center;
    }   
}

@media screen and (max-width: 767px) {
    .image {
        max-width: 250px;
    } 
    
    .imageContainer > :nth-child(2) {
        margin-left: 100px;
    }

    .imageContainer > :nth-child(3) {
        margin-top: -200px;
    }
}

@media screen and (max-width: 479px) {
    .image {
        max-width: 80%;
    } 

    .imageContainer > :nth-child(2) {
        margin-left: -20%;
    }
    
    .imageContainer > :nth-child(2) {
        margin-left: 25%;
        margin-top: -30%;
    }

    .imageContainer > :nth-child(3) {
        margin-top: -70%;
        margin-left: -15%;
    }
}