.container {
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 72px;
    padding-bottom: 72px;
}

.flexContainer {
    z-index: 1;
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.heading {
    max-width: 506px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    font-family: Montserrat, sans-serif;
    margin-top: 0;
    color: #fff;
    width: 100%;
    max-width: 255px;
}

.ctaContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn {
    box-shadow: none;
    border-color: rgba(255, 255, 255, .1);
    transition: border-color .2s;
    color: #000;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px 24px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
}

.link1 {
    background-color: #fff;
}

.link2 {
    background-color: #69df41;
}

.link2:hover {
    text-decoration: none;
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, .2);
}

@media screen and (max-width: 991px) {
    .flexContainer {
        flex-direction: column;
        justify-content: center;
    }

    .heading {
        text-align: center;
        margin-bottom: 25px;
    }

    .ctaContainer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px
    }
}