.faqHeaderSection {
    background-image: url("../assets/images/community-section-bg-image.png");
    background-position: 50%;
    background-size: cover;
    min-height: 420px;
    background-color: #f5fbfc;
    justify-content: center;
    align-items: center;
    padding: 100px 3%;
    display: flex;

}

.faqHeaderContainer {
    width: 100%;
    max-width: 1200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.textContainer {
    background-color: rgba(255, 255, 255, .49);
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 670px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 54px;
    line-height: 1;
    color: #000;
}

.subText {
    color: #35b8be;
    -webkit-text-stroke-color: #69df41;
}

.subText>strong {
    color: #69df41;
}

.blue {
    color: #31c1ff;
    font-size: 18px;
    font-weight: 600;
}

.green {
    color: #69df41;
    font-size: 18px;
    font-weight: 600;
}

.yellow {
    color: #ffe000;
    font-size: 18px;
    font-weight: 600;
}

.blue-bg {
    background-color: #31c1ff;
    background-image: url("https://uploads-ssl.webflow.com/634f00870700514f27d65385/638cbd212a2fb8423c0c2322_Button%20Wave.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: rgba(97, 114, 131, 0);
    border-radius: 6px;
}

.green-bg {
    background-color: #69df41;
    background-image: url("https://uploads-ssl.webflow.com/634f00870700514f27d65385/638cbd212a2fb8423c0c2322_Button%20Wave.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: rgba(97, 114, 131, 0);
    border-radius: 6px;
}

.yellow-bg {
    background-color: #ffe000;  
    background-image: url("https://uploads-ssl.webflow.com/634f00870700514f27d65385/638cbd212a2fb8423c0c2322_Button%20Wave.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: rgba(97, 114, 131, 0);
    border-radius: 6px;
    
}

.white-bg {
    background-color: #fff;
}

.faqSection {
    background-color: rgba(0, 0, 0, 0);
    padding: 60px 3%;
}

.faqContainer {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.btn {
    color: #fff;
    border-color: rgba(97, 114, 131, 0);
    border-radius: 6px;
    min-height: 52px;
    border: 1px solid rgba(97, 114, 131, .2);
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    display: flex;
    padding: 9px 45px;
    max-width: 100%;
    font-weight: 700;
    color: #000;
}
.btn:hover {
    color: black;
}

.containerStyle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerStyle {
    padding: 30px 15px 30px 20px !important;
    font-family: Montserrat, sans-serif;
    font-size: 16px !important;
    border-bottom: 1px solid rgba(0, 0, 0, .04) !important;
}

.bodyStyle {
    font-size: 18px !important;
    font-weight: 400;
}

.faqs {
    padding: 20px;
}

@media screen and (max-width: 479px) {
    .heading {
        font-size: 40px;
    }

    .yellow {
        font-size: 14px !important;
    }

    .green {
        font-size: 14px !important;
    }

    .blue {
        font-size: 14px !important;
    }
}
