.footer {
    background-color: #31c1ff;
    padding-bottom: 72px;
}

.mainFooter {
    padding-top: 96px;
    padding-bottom: 48px;
    color: #fff;
    display: block;
    border-top: 1px solid #000;
}

.container {
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

.footerRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.footerLeft {}

.links {
    opacity: .75;
    color: #fff;
    transition: opacity .2s;
    text-decoration: none;
}

.logo {
    margin-bottom: 24px;
    display: inline-block;
    max-width: 100%;
}

.logoImg {
    max-width: 100%;
    display: inline-block;
}

.footerText {
    max-width: 294px;
    color: #000;
    margin-bottom: 40px;
    padding-left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.socialIconContainer {
    align-items: center;
    margin-left: -4px;
    margin-right: -4px;
    padding-left: 0;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    gap: 8px;
}

.socialLinks {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(255, 255, 255, .2);
    transition: background-color .2s, transform .2s;
    width: 36px;
    height: 36px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.socialIcons {
    width: 16px;
    height: 16px;
    max-width: 100%;
    display: inline-block;
}

.footerRight {}

.linkContainer {}

.heading {}

.listContainer {}

.list {}

