.iframeSection {
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    display: flex;
}

.iframeContainer {
    max-width: 824px;
    width: 100%;
    aspect-ratio: 1.5;
    text-align: center;
}

.iframe {
    width: 100%;
    height: 100%;
}