

.infoSection {
    margin-top: 100px;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #fff;
}

.container {
    border-radius: 20px;
    margin-top: 0;
    padding: 40px;
    background-color: #ffe000;
    position: relative;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.infoImg {
    height: auto;
    max-width: 80%;
    margin-top: 0;
    position: absolute;
}

.statsImage {
    z-index: 1;
    translate: -150px 115px;
}

.textSection {
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    float: right;
}

.sectionWrapper {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.textContainer {
    margin-top: 0;
    padding-top: 0;
    /* width: 400px; */
    direction: ltr;
    text-align: left;
    padding-left: 20px;
}

.title {
    color: #000;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    font-family: Montserrat, sans-serif;
}

.description {
    padding-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 750px;
    }

    .textSection {
        width: 40%;
    }

    .statsImage {
        translate: -140px 80px;
    }
}

@media screen and (max-width: 770px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .infoImg {
        position: unset;
        max-width: 100%;
    }

    .infoSection {
        padding: 40px;
    }

    .textSection {
        width: unset;
    }

    .statsImage {
        translate: 0px -70px;
    }
}

@media screen and (max-width: 479px) {
    .title {
        font-size: 25px;
    }

    .statsImage {
        max-width: 150px;
        translate: 0px -50px;
        height: auto;
    }

    .infoSection {
        padding: 20px;
    }
}