.stepSection {
    width: 100vw;
    margin-bottom: 20px;
    margin-top: 20px;
}

.stepContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 1248px;
}

.bgInvestor {
    background-image: url("../assets/images/investors-home.png");
    background-position: 50% 0;
    background-size: cover;
    height: 675px;
    min-width: 540px;
}

.textSection {
    min-height: 450px;
    max-width: 440px;
    background-color: #31c1ff;
    padding-left: 70px;
    padding-right: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: -50px;
}

.textWhite {
    color: #fff;
}

.textBlue {
    color: #31c1ff !important;
}

.textBlack {
    color: #000 !important;
}

.bgWhite {
    background-color: #fff;
}

.bgWhite:hover {
    color: #fff;
    background-color: #6fdd53;
    border: 1px solid #6fdd53;
}

.bgBlue {
    background-color: #31c1ff;
}

.joinNowHover:hover {
    color: #fff;
    background-color: #69df41;
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, .3);
}

.borderBottomWhite {
    border-bottom: 2px solid #fff;
}

.smallHeading {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 13.5px;
    font-weight: 700;
    margin-bottom: 10px;
}

.heading {
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 24px;
}

.link {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 8px;
    font-family: Questrial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: block;
    transition: opacity .2s;
    text-decoration: none;
}

.linkBtn {
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
    width: fit-content;
    padding: 15px 25px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: bold;
    transition: background-color .2s, background-position .2s, color .2s, border .2s, box-shadow .2s;
    text-decoration: none;
    white-space: nowrap;
}

.sectionTitleWide {
    max-width: 720px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.sectionTitleDesc {
    width: 100%;
    max-width: 600px;
    color: #000;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Questrial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.sectionDescriptionWide {
    text-align: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.sectionDesc {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin-left: auto;
    font-size: 20px;
    line-height: 24px;
    margin: 35px auto 0 0;
    max-width: 650px;
    display: block;
}

.stepCardSection {
    background-image: url("../assets/images/invsted-bg-img.png");
    background-position: 50%;
    background-size: cover;
}

.imageCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marginTop100 {
    margin-top: 100px !important;
}

.imageBig {
    max-width: 440px !important;
    z-index: 4;
}

.imageStyle {
    height: 450px !important;
}

.imageLeft {
    margin-right: -30px;
    z-index: 1;
}

.imageRight {
    margin-left: -30px;
    z-index: 1;
}

.maxWidth300 {
    max-width: 300px !important;
}

.maxWidth600 {
    max-width: 600px !important;
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: center;
}

.titleSteps {
    font-size: 40px;
}

.lineHeight24 {
    line-height: 24px;
}

.marginBottom100 {
    margin-bottom: 100px !important;
}

.marginBottom0 {
    margin-bottom: 0px !important;
}

.marginTop0 {
    margin-top: 0px !important;
}

.description {
    font-size: 18px;
    line-height: 16px;
    width: 100%;
    max-width: 600px;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    font-family: Questrial, sans-serif;
    text-align: center;
}

.cardContainer {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    align-items: end;
}

.communitySection {
    background-image: url("../assets/images/community-section-bg-image.png");
    background-position: 50% 30%;
    background-size: cover;
}

.imageOverlay {
    background-color: #2c2e31b3;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 145px;
    padding-bottom: 105px;
}

.communityContainer {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.communityTextSection {
    width: 70%;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.communityText {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    line-height: 41px;
}

.communitylink {
    background-color: #ffe000;
    color: #000;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px 24px;
    font-weight: 700;
    text-decoration: none;
    transition: box-shadow .2s;
    font-family: Montserrat, sans-serif;
    position: relative;
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0);
    max-width: 100%;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.communitylink:hover {
    text-decoration: none;
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, .2);
}

.customGap {
    padding-top: 40px;
    padding-bottom: 100px;
}

.equitySection {
    flex: 1;
    max-width: 375px;
    direction: ltr;
    margin: 20px 24px 40px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.equitySubHeading {
    color: #31c1ff;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 600;
}

.equityHeading {
    color: #31c1ff;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.equityLink {
    color: #000;
    background-color: #69df41;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px 24px;
    margin-top: 24px;
    display: block;
    width: fit-content;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: box-shadow .2s;
    position: relative;
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0);
}

.equityLink:hover {
    text-decoration: none;
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, .2);
}

.justifySpaceAround {
    justify-content: space-around !important;
}

@media screen and (max-width: 991px) {
    .textSection {
        margin-left: -100px;
    }

    .bgInvestor {
        height: auto;
        min-height: 675px;
        min-width: 400px;
    }

    .cardContainer {
        grid-column-gap: 0px;
    }
}

@media screen and (max-width: 767px) {
    .textSection {
        min-height: 375px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .equitySection {
        max-width: 100%;
    }

    .cardContainer {
        grid-template-columns: 1fr;
    }

    .bgInvestor {
        min-height: 500px;
        min-width: 300px;
    }

    .heading {
        font-size: 35px;
    }

    .imageCardContainer {
        flex-direction: column;
        gap: 30px;
    }

    .imageStyle {
        height: 300px !important;
    }

    .imageBig {
        max-width: 100% !important;
    }

    .imageLeft {
        margin-right: 0px !important;
    }

    .imageRight {
        margin-left: 0px !important;
    }

    .maxWidth300 {
        max-width: 90% !important;
    }
}

@media screen and (max-width: 491px) {

    .stepContainer {
        flex-direction: column-reverse;
    }

    .textSection {
        margin-left: 0px;
        min-width: 100%;
    }

    .heading {
        font-size: 30px;
    }

    .link {
        font-size: 13px;
    }

    .bgInvestor {
        min-height: 400px;
        min-width: 100%;
    }
}