.modalContainer {
    padding: 30px;
    overflow-y: hidden;
}

.modalContainer >div {
    max-width: 1050px;
    width: calc(100% - 60px);
    height: 100%;
}

.modalContainer>div>div {
    background-color: #fff;
    color: #000;
}

.modalHeader {
    color: #000;
    border: none;
}

.closeBtn {
    margin-left: auto;
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.fileName {
    margin-bottom: 0px;
}

.modalTitle {}

.modalBody {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalFooter {
    border: none;
    padding: 16px;
    min-height: 50px;
}