.modalContainer {
    overflow-y: hidden;
}

.modalContainer >div {
    height: 100%;
}

.modalContainer>div>div {
    background-color: #fff;
    color: #000;
}

.modalHeader {
    color: #000;
    border: none;
    padding: 20px;
}

.closeBtn {
    margin-left: auto;
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.fileName {
    margin-bottom: 0px;
}

.modalTitle {
    font-size: 20px;
    font-weight: 700;
}

.modalBody {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.modalFooter {
    border: none;
    padding: 20px;
    min-height: 50px;
}

@media screen and (max-width: 576px) {
    .modalContainer >div {
        padding: 30px;
    }

    .modalTitle {
        font-size: 16px;
    }
}