.accountDropdown :global(.dropdown-toggle) {
    padding-top: 0;
    padding-bottom: 0;
}

.navBar {
    padding-left: 24px;
    padding-right: 24px;
    margin: 8px 8px 0px 8px;
}

.logoImg {
    width: 202px;
    height: auto;
}

.navContainer {
    max-width: 1248px;
    padding: 16px 20px
}

.navLinks {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: color .2s;
    padding: 10px 0px;
}

.navLinks:hover {
    color: #69df41;
}

.navBtn {
    box-shadow: none;
    color: #222525;
    font-family: Montserrat, sans-serif;
    padding: 10px 24px;
    font-weight: 700;
    background-color: #f8f6f4;
    border-color: #f8f6f4;
    transition: border-color .2s, background-color .2s;
    position: relative;
}

.navBtn:hover {
    background-color: #ecebea;
    border-color: #ecebea;
}

.navBtnLink {
    padding: 0px;
}

.studentProfileSection {
    width: 100vw;
}

.studentProfileContainer {
    width: 100%;
    max-width: 940px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customLink {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-right: 0px;
    margin-top: 15px;
}

.cartBtn {
    background-color: #31c1ff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 9px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: none;
}

.cartBtn > .cartText {
    display: block;
    font-weight: 700;
}

.cartBtn > .cartIemCount {
    display: block;
    background-color: #fff;
    color: #31c1ff;
    border-radius: 50%;
    max-width: 18px;
    width: 100%;
    font-size: 11px;
    height: 18px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .customLink {
        display: none;
    }
}

@media screen and (max-width: 491px) {
    .logoImg {
        width: 40vw;
    }

    .cartBtn {
        gap: 5px;
    }
}