
.settingSection {
    max-width: 100vw;
    background-color: #fff;
    padding-bottom: 32px;
    padding-top: 42px;
    padding-left: 20px;
    padding-right: 20px;
}

.settingContainer {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(34, 37, 37, .2);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.settingsHeader {
    height: 100px;
}

.settingsTitle {
    color: #272b31;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.settingsContent {}

.tabsHeader {
    display: flex;
    align-items: center;
    background-color: #f6f6f7;
    border-radius: 12px;
    padding: 8px;
    gap: 10px;
}

.logOutBtn {
    color: #000;
    background-color: #69df41;
    margin-right: 0;
    padding-left: 10px;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logOutIcon {
    height: 24px;
    width: 18px;
}

.tabsContent {
    padding: 8px;
}

.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 20px;
}

.formTitle {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.formDescription {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    max-width: 400px;
}

.formAction {
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    transition: background-color .2s, transform .2s;
}

.bgGreen {
    background-color: #69df41;
}

.bgBlue {
    background-color: #31c1ff;
}

.bgYellow {
    background-color: #ffe000;
}

.formRow {
    border-top: 0.5px solid #e0e4fc;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.label {
    width: 35%;
    font-size: .9rem;
    font-weight: 700;
    line-height: 1;
    display: block;
    margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
    .formDescription {
        max-width: 250px;
    }
}

@media screen and (max-width: 491px) {
    .label {
        width: 100%;
    }

    .tabsHeader {
        flex-direction: column;
        align-items: flex-start;
    }

    .logOutBtn {
        margin-left: unset;
    }

    .formRow {
        flex-direction: column;
        gap: 20px;
    }

    .formDescription {
        max-width: 200px;
    }
}