.stepSection {
    width: 100vw;
    margin-bottom: 20px;
    margin-top: 20px;
}

.joinCommunitySection {
    padding-bottom: 60px;
    background-image: url("../assets/images/community-section-bg-image.png");
    background-position: 50%;
    background-size: cover;
    min-height: 280px;
    margin-bottom: 0px;
}

.stepContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 1248px;
}

.subTitle {
    color: #31c1ff;
    font-family: Montserrat, sans-serif;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    font-weight: 700;
}

.subHeading {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #000;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin-bottom: 24px;
    font-size: 54px;
    color: #000;
    line-height: 1;
    margin-top: 0px;
    font-weight: 700;
}

.text {
    max-width: 400px;
    color: #000;
    margin-bottom: 40px;
    padding-left: 0;
    font-family: Questrial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.strongText {
    font-weight: 600;
}

.link {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    background-color: #ffe000;
    border-radius: 10px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
    padding: 12px 25px;
    margin-top: 36px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.description {
    font-size: 18px;
    line-height: 16px;
    width: 100%;
    max-width: 600px;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    font-family: Questrial, sans-serif;
    text-align: center;
}

.width100 {
    width: 100%;
}

.widthFitContent {
    width: fit-content;
}

.titleSteps {
    font-size: 40px;
}

.fontSize30 {
    font-size: 30px;
}

.textYellow {
    color: #ffe000;
    text-align: center;
}

.textBlue {
    color: #31c1ff
}

.bgGrey {
    background-color: #f8f6f4;
}

.image {
    flex: 1;
    max-width: 600px;
    height: auto;
}

.height600 {
    min-height: 600px;
}

.gallery {
    flex: 1;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.smallImage {
    max-width: 440px;
}

.galleryImg {
    max-width: 290px;
    height: auto;
    border: 10px solid #fff;
}

.customImage1 {
    /* margin-top: 0px;
    margin-left: 100px; */
    margin-left: -95px;
    margin-top: 75px;
    /* bottom: -100px;
    left: 95px; */
    z-index: 1;
}

.customImage2 {
    /* margin-left: -120px;
    margin-bottom: -210px; */
    margin-top: 190px;
    margin-left: -75px;
    /* top: -30px;
    right: 10px; */
    z-index: 3;
}

.customImage3 {
    /* margin-top: -45px;
    margin-left: 150px; */
    margin-top: 280px;
    margin-left: -460px;
    /* top: 55px;
    right: 175px; */
    z-index: 2;
}

.textSection {
    flex: 1;
    max-width: 506px;
    direction: ltr;
    margin: 20px 24px 40px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.reverse {
    flex-direction: row-reverse;
}

.gap {
    gap: 60px;
}

.cardContainer {
    width: 100%;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    margin-bottom: 30px;
}

.titleStyle {
    padding-top: 0px;
}

.cardStyle {
    max-width: 270px;
}

.cardBody {}

.university {
    margin-bottom: 10px;
}

.viewLink {
    color: #ffe000;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .stepContainer {
        flex-direction: column;
    }

    .cardStyle {
        max-width: 250px;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .gap {
        gap: 0px
    }
}

@media screen and (max-width: 767px) {

    .textSection {
        max-width: 100%;
    }

    .cardContainer {
        gap: 30px;
    }

    .image {
        max-width: 100%;
    }

    .smallImage {
        width: 100%;
    }

    .galleryImg {
        max-width: 270px;
    }

    .customImage1 {
        margin-left: -150px;
    }

    .customImage3 {
        margin-top: 264px;
        margin-left: -420px;
    }
}

@media screen and (max-width: 491px) {

    .galleryImg {
        max-width: 200px;
    }

    .cardStyle {
        max-width: 300px;
    }

    .customImage1 {
        margin-left: -90px;
    }

    .customImage3 {
        margin-top: 215px;
        margin-left: -288px;
    }
}

@media screen and (max-width: 350px) {

    .galleryImg {
        max-width: 180px;
    }

    .customImage1 {
        margin-left: -60px;
    }

    .customImage2 {
        margin-top: 160px;
    }

    .customImage3 {
        margin-top: 200px;
        margin-left: -252px;
    }
}